body {
  /* font-family: "Raleway", sans-serif;  */
  font-family: "Roboto", sans-serif;
  font-size: normal;
  background: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.logo span {
  color: #000000;
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.link-text {
  color: #212121;
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.link-text.accent {
  color: #2196f3;
}

.link-text:hover,
.link-text:focus {
  color: #2196f3;
}

.link-contacts {
  color: #757575;
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.link-contacts:hover {
  color: #2196f3;
}

.section {
  background: #2f303a;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button {
  cursor: pointer;
  color: #212121;
  font-style: Medium;
  background: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 6;
}

.button:hover,
button:focus {
  background: #2196f3;
  color: #ffffff;
}

.title {
  color: #000000;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.text {
  color: #757575;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.title-peculiarities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-features {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

footer {
  background: #2f303a;
}
.contact-section-adress {
  color: #ffffff;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 7;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
